@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --color-bg-1: #091929;
    --color-bg-2: rgba(24, 79, 130, 0.4);
    --color-brand: #5291ff;
    --color-brand-light: #dbb959;
    --color-body: white;
    --color-border: rgba(255, 255, 255, 0.1);
    --color-heading: white;
    --font-main: "Plus Jakarta Sans";
    --border-radius: 32px;
}

body {
    background: linear-gradient( 98deg, rgba(6, 28, 49, 1) 27%, rgba(10, 50, 87, 1) 60%, rgba(28, 79, 116, 1) 90% );
    color: var(--color-body);
    font-family: var(--font-main);
    line-height: 1.7;
}